# in general
.settings
.worksheet
.cache
.idea
.DS_Store
bin
out
api
lib
/tmp
tmp
tmp.*
*.class
*.log

# for the current directory
resources/

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
